.partner{
    background-image: url(./img/image\ 30.svg);
    background-position: center;
    background-size: cover;
    height: 398px;
    position: relative;
    // margin-top: 180px;
    .partner_main{
        img{
            position: absolute;
            bottom: 0;
            left: 200px;
        }
        .partner_text{
            padding-left: 198px;
            padding-top: 145px; 
            h1{
                font-weight: 700;
                font-size: 32px;
                line-height: 44px;
                color: #FFFFFF;
                margin-bottom: 16px;
                               
            }
            p{
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                color: #E9E9E9;
                
            }
        }
    }
}

@media(max-width:702px){
    .partner{
        .partner_main{
            img{
                left: 0;
                right: 0;
                // width: 100%;
            }
            .partner_text{
                padding-left: 20px;
            }
        }
    }
}

@media(max-width:400px){
    .partner{
        .partner_main{
            img{
                width: 100%;
            }
            .partner_text{
                h1{
                    font-size: 25px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
    }
}